@page
@model Website.Areas.Co.Pages.VtyStar.IndexModel;
@{
    ViewBag.Title = "vystar";
    var createUrl = Url.Page("", "Create");
}
<partial name="_Alert" model="Model.Alert" />
<div class="table-container">
    <div class="table-container-header">
        <button class="btn btn-outline-dark" onclick='ajaxLoadPartialForm(this)' data-title="افزودن واریته/جنگ ستارگان"
            data-url='@createUrl'>
            افزودن
        </button>
        <form method="GET">
            <input type="text" name="filter" class="form-control">
            <input type="hidden" value="1" name="p" class="form-control">
            <button type="submit" class="btn btn-outline-dark">
                جستجو...
            </button>
        </form>
    </div>
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered table-striped">
            <caption class="table-caption"></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>نوع</th>
                    <th>باموضوع</th>
                    <th>سوال</th>
                    <th>تصویر</th>
                    <th>ایجاد</th>
                    <th>کلمه کلیدی</th>
                    <th>آدرس ویدئو</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.TypeTitle</td>
                            <td>@item.SubjectTitle</td>
                            <td data-text>
                                <a href="javascript:void(0)" onclick="viewModalAsText(this)" data-title="@item.Title"
                            data-body="@item.Question">
                                    <i class="las"></i>
                                </a>
                            </td>
                            <td data-file>
                                <a href="javascript:void(0)" onclick="viewModalAsFile(this)" data-title="تصویر : @item.Title"
                            data-url="@item.FileUrl">
                                    <i class="las"></i>
                                </a>
                            </td>
                            <td>@item.PersianCreatedDate</td>
                            <td>@item.KeyWord</td>
                            <td data-link title="@item.VideoUrl">
                                <a href="@item.VideoUrl" target="_blank">
                                    <i class="las"></i>
                                </a>
                            </td>
                            <td data-change>
                                <div>
                                    <button type="button" data-edit data-title="ویرایش : @item.Title"
                                data-url='@Url.Page("","Edit",new {id=@item.Id})' onclick="ajaxLoadPartialForm(this)">
                                        <i class="las"></i>
                                    </button>
                                    <form onsubmit="return confirm('آیا از حذف @item.Title مطمئن هستید؟')"
                                asp-page-handler="remove">
                                        <input type="hidden" name="id" value="@item.Id">
                                        <button type="submit" data-trash>
                                            <i class="las"></i>
                                        </button>
                                    </form>
                                    <a asp-page="Option" asp-route-id="@item.Id" target="_blank" data-more>
                                        ادامه
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr data-span></tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model='(Model.List.TotalPages)' />
    </div>
</div>

@section Scripts{
<partial name="_Tags" />
<partial name="_Editor" />
<script>
    setModalXL();
</script>
}