@model IEnumerable<TopTenHelperVm>
@if (Model.Any())
{
    <aside id="top10">
        <a asp-page="/Artist/Index" class="more">
            <b>
                <i class="las la-star"></i>10
            </b>
            تای اول
        </a>
        @foreach (var item in Model)
        {
            <a asp-page="/Artist/ArtistInfo" asp-route-id="@item.Id" asp-route-title="@item.Value.ToFriendlyRoute()"
        title="@item.Value">
                <img src="@item.FriendlyUrl" alt="رتبه چنده">
                <span class="badge bg-danger">@item.DisplayVoteAverage</span>
            </a>
        }
    </aside>
}